/docs/
/lib/
/.crystal/
/bin/
/.shards/
*.dwarf
.editorconfig
/deploy/
.DS_Store

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
/Candilano
